@use "__config" as *;


.btn-main {
   border-radius: var(--bd-radius);
   color: var(--clr-white);
   background-color: var(--clr-primary);
   font-weight: var(--fw-semi-bold);
   padding: rem(16) rem(32);
   border: none;
   cursor: pointer;
   transition: background-color .3s ease;

   &:not([disabled]):where(:hover, :focus-visible) {
      background-color: var(--clr-indigo-600);
   }

   &:disabled {
      color: var(--clr-muted);
      background-color: var(--clr-titan-white);
   }

   &--white {
      color: var(--clr-primary);
      background-color: var(--clr-titan-white);
   }

   &--white:not([disabled]):where(:hover, :focus-visible) {
      color: var(--clr-white);
   }
}


.btn-call {
   display: flex;
   border-radius: rem(99);
   background-color: var(--clr-red-200);
   margin: 0;
   border: none;
   place-items: center;
   color: var(--clr-danger);
   padding: rem(6) rem(12);
   gap: rem(3);
   align-self: center;
   font-weight: var(--fw-semi-bold);
   cursor: pointer;

   &:where(:hover, :focus-visible) &__icon {
      animation: ring 2s .7s ease-in-out infinite;
   }

   &__icon {
      fill: var(--clr-danger);
      width: rem(16);
      aspect-ratio: 1;
   }
}