@use "__config" as *;

.footer {

   @media (min-width: 50rem) {
      &__links > * {
         position: relative;
      }

      &__links > *:not(:first-child)::before {
         position: absolute;
         top: 0;
         left: calc(-1 * rem(5));
         content: '';
         width: rem(1);
         height: 100%;
         background-color: var(--clr-muted);
      }
   }

   &__container {
      display: flex;
      flex-direction: column;
      gap: rem(16);
      padding-bottom: rem(20);

      @media (min-width: 50rem) {
         flex-direction: row;
         justify-content: space-between;
      }
   }


   &__inforamtion {
      display: flex;
      flex-direction: column;
      gap: rem(5);
      align-items: center;
      font-size: var(--fs-12);
      color: var(--clr-muted);
      @media (min-width: 50rem) {
         flex-direction: row;
         gap: rem(10);
      }
   }

   &__links {
      display: flex;
      align-self: stretch;
      flex-wrap: wrap;
      justify-content: space-around;
      @media (min-width: 50rem) {
         align-self: center;
         gap: rem(10);
      }
   }

   &__link {
      color: var(--clr-primary);
      text-decoration: none;
   }

   &__link:where(:hover, :focus-visible) {
      text-decoration: underline;
   }

   &__payment {
      order: -1;
      @media (min-width: 50rem) {
         order: 0;
      }
   }

   &__payment-list {
      display: flex;
      flex-wrap: wrap;
      gap: rem(7);
      justify-content: space-evenly;
      @media (min-width: 50rem) {
         gap: rem(8);
      }
   }

   &__payment-item {
      display: block;
      width: rem(35);
      height: rem(24);
   }
}
