@use "__config" as *;

.main {
   padding-top: var(--sz-navigation);

   &__container {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      @media (min-width: 50rem) {
         flex-direction: row;
         height: 100%;
         align-items: center;
         gap: 20%;
      }
   }

   &__offer {
      flex-basis: 20%;
   }
}
