@use "__config" as *;

.main {
   padding-top: var(--sz-navigation);
   
   @media (min-width: 50rem) {
      padding-top: 0;
   }

   &__container {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      @media (min-width: 50rem) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         height: 100%;
         align-items: center;
         column-gap: 20%;
         padding-bottom: rem(30);
         row-gap: rem(60);
      }
   }

   &__offer {
      flex-basis: 20%;
   }
}
