@use "__config" as *;

.main {
   --mobile-gap: 1.1rem;
   --mobile-ingredient-height: 10rem;
   --mobile-checkout-height: 7.5rem;
   --mobile-ingredient-wrapper-height: calc(var(--mobile-ingredient-height) + var(--mobile-gap));
   padding-top: var(--sz-navigation);
   
   @media (min-width: 50rem) {
      padding-top: 0;
   }

   &__container {
      display: flex;
      flex-direction: column;
      gap: var(--mobile-gap);
      @media (min-width: 50rem) {
         display: grid;
         grid-template-columns: auto 1fr;
         height: 100%;
         align-items: center;
         column-gap: rem(36);
         padding-bottom: rem(30);
         row-gap: rem(60);
      }
   }

   &__offer {
      @media (min-width: 50rem) {
         width: min-content;
      }
   }
}
