@use "__config" as *;

.burger {
   
   @media (min-width: 50rem) {
         &[hidden] {
         display: none;
      }
   }

   @media (min-width: 50rem) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: rem(36);
   }

   &[hidden] ~ .ingredients {
      display: none;
   }

   &__summary {
      display: flex;
      flex-direction: column;
      gap: rem(24);
      max-width: rem(405);
   }

   &__header {
      padding-bottom: em(24,36);
      border-bottom: rem(2) solid var(--clr-titan-white);
   }

   &__checkout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: rem(16);
   }

   &__checkout-summ {
      font-weight: var(--fw-bold);
      font-size: var(--fs-36);
      color: var(--clr-primary);
   }

   &__checkout-summ::after {
      content: attr(data-price);
   }
   
   &__checkout-summ::before {
      content: "$";
   }

   &__checkout-btn {
      border-radius: var(--bd-radius);
      color: var(--clr-white);
      background-color: var(--clr-primary);
      font-weight: var(--fw-semi-bold);
      padding: rem(16) rem(32);
      border: none;
      cursor: pointer;
      transition: background-color .3s ease;
   }

   &__checkout-btn:not([disabled]):where(:hover, :focus-visible) {
      background-color: var(--clr-indigo-600);
   }

   &__checkout-btn:disabled {
      color: var(--clr-muted);
      background-color: var(--clr-titan-white);
   }

   &__checkout-gift {
      font-size: var(--fs-14);
      grid-column: span 2;
   }

   &__checkout-gift-danger {
      color: var(--clr-danger);
   }

   &__summary-data {
      display: flex;
      background-color: var(--clr-titan-white);
      border-radius: var(--bd-radius);
      padding: rem(16);
   }

   &__summary-data-item {
      display: flex;
      gap: rem(8);
      align-items: center;
      padding-right: rem(45);
   }

   &__summary-data-icon {
      fill: var(--clr-white);
      aspect-ratio: 1;
      border-radius: 50%;
      padding: rem(8);
      width: rem(32);
      max-width: none;
   }

   &__summary-data-icon--1 {
      background-color: var(--clr-heliotrope);
   }

   &__summary-data-icon--2 {
      background-color: var(--clr-tan-hide);
   }

   &__summary-data-icon--3 {
      background-color: var(--clr-danger);
   }

   &__summary-data-name {
      display: flex;
      gap: rem(4);
      font-size: var(--fs-14);
      font-weight: var(--fw-semi-bold);
   }

   &__summary-data-name::before {
      content: attr(data-value);
   }

   &__additionally {
      margin: 0;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
      align-self: flex-start;
      font-size: var(--fs-20);
      font-weight: var(--fw-semi-bold);
      margin-top: rem(32);
   }
   
   &__additionally-name {
      color: var(--clr-danger);
   }

   &__additionally-params {

   }

   
}