@use "__config" as *;

.ingredients {
   display: flex;
   gap: rem(8);
   width: 100%;
   height: var(--mobile-ingredient-wrapper-height);
   padding-bottom: var(--mobile-gap);
   margin-bottom: calc(var(--mobile-checkout-height) + var(--mobile-gap) + var(--mobile-gap));
   overflow-x: auto;
   overscroll-behavior-inline: contain;
   scroll-snap-type: inline mandatory;

   @media (min-width: 50rem) {
      padding-bottom: rem(20); 
      flex-wrap: wrap;
      grid-column: span 2;
      justify-content: center;
      padding-bottom: 0;
      margin-bottom: 0;
      height: auto;
   }

   @media (min-width: 100rem) {
       gap: rem(16);
   }

   @media (min-width: 150rem) {
       gap: rem(32);
   }

   &:empty {
      display: none;
   }
}

.ingredient {
   display: grid;
   flex-basis: rem(140);
   border-radius: var(--bd-radius);
   border: rem(1) solid var(--clr-black-squeeze);
   padding: rem(24) rem(18);
   justify-items: center;
   gap: rem(12);
   scroll-snap-align: start;

		&__img {
         object-fit: contain;
         aspect-ratio: 2.575/1;
         padding-bottom: rem(8);
		}

		&__name {
         font-size: var(--fs-14);
         font-weight: var(--fw-semi-bold);
         
		}

		&__amount {
         display: flex;
         font-size: var(--fs-20);
         font-weight: var(--fw-semi-bold);
         // gap: rem(18);
         justify-content: space-between;
         width: rem(105);
		}

      &__amount[data-value="0"] > &__minus {
         color: var(--clr-muted);
         cursor: default;
         pointer-events: none;
      }

      &__minus,
      &__plus {
         display: flex;
         position: relative;
         padding: 0;
         margin: 0;
         border: none;
         width: rem(28);
         background-color: var(--clr-titan-white);
         color: var(--clr-primary);
         aspect-ratio: 1;
         border-radius: 50%;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         transition: all .3s ease;
         overflow: hidden;
      }

      &__minus:not([disabled]):where(:hover, :focus-visible),
      &__plus:not([disabled]):where(:hover, :focus-visible) { 
         background-color: var(--clr-primary);
         color: var(--clr-titan-white);
      }

      &__minus:disabled,
      &__plus:disabled { 
         color: var(--clr-muted);
      }

      &__minus::before {
         position: relative;
         top: calc(-1 * rem(2));
         content: '-';
      }

      &__plus::before {
         position: relative;
         top: calc(-1 * rem(1));
         content: '+';
      }

      &__plus {
         order: 1;
      }

      &__amount::after {
         content: attr(data-value);
      }

     
   }
